@import './node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

li.list-name {
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    text-decoration: underline;
  }
}
